@import url(./restet.css);

/*Animations*/

/*Types*/

html,
body {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  background-image: linear-gradient(90deg, red, blue);
}

main {
  margin: 0 25vw;
}

header {
  position: fixed;
  top: 0;
  z-index: 2;
}

nav {
  background-color: black;
  top: 0;
  width: 100vw;
  height: 5vh;
  align-content: center;
  z-index: 2;
}

ul {
  display: flex;
  justify-content: space-evenly;
}

section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 95vh;
  padding-top: 5vh;
  background-color: rebeccapurple;
  scroll-snap-align: start;
}

img {
  width: 30%;
  height: fit-content;
  margin: 1vh 1vh;
  filter: grayscale();
  z-index: 0;
}

img:hover {
  transition: all ease 200ms;
  filter: saturate();
  transform: scale(2) translateY(-2vw);
  z-index: 3;
}

h1 {
  text-align: center;
  width: 50vw;
  font-size: 5vw;
}

h2 {
  text-align: center;
  width: 50vw;
  font-size: 1.5vw;
}

h3 {
  text-align: center;
  width: 50vw;
  font-size: 1.2vw;
}

p {
  text-align: center;
  font-size: 1.2vw;
  margin-bottom: 5vh;
  text-justify: newspaper;
}

a {
  display: block;
  text-decoration: none;
  font-size: 1.2vw;
  color: aliceblue;
}

a:hover {
  transition: all 200ms ease;
  transform: scale(1.2) translatey(-0.5vh);
}

input {
  display: block;
  margin: 5vh auto;
}

input:hover {
  transform: scale(1.2);
}

form {
  width: 50vw;
  align-self: center;
  justify-self: center;
  margin-bottom: 30vh;
}

label {
  display: block;
  text-align: center;
}

/*Scroll bar*/

::-webkit-scrollbar {
  width: 1vw;
  border-radius: 1rem;
  margin-right: 1vw;
}

::-webkit-scrollbar-track {
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 1rem;
}

/*Class*/

.flex {
  display: flex;
  justify-content: space-evenly;
}

.column {
  width: 20vw;
  margin-right: 5vw;
}

/*IDs*/

#menu {
  display: none;
  background-color: aliceblue;
  padding: 2vh;
  flex-direction: column;
  gap: 0.5vh;
}

#menu_button {
  position: absolute;
  display: flex;
  gap: 1vh;
  flex-direction: column;
}

#menu_button:hover #menu {
  display: flex;
}

#landing {
  flex-direction: column;
  justify-content: space-between;
}

#galery {
  height: 110vw;
}
