@import url(./restet.css);

/*Medias*/

:root {
  --large_font: 5vw;
  --mid_font: 1.5vw;
  --small_font: 1.2vw;
  --section_margin: 15vw;
  --section_width: 70vw;
  --galery_height: 110vw;
  --link_size: 1.2vw;
  --article_width: 20vw;
  --article_margin: 7.5vw;
  --big_height: 100vh;
  --big_width: fit-content;
  --big_translate: 25vw;
  --galery_width: 49vw;
}

@media (max-width: 600px) {
  :root {
    --large_font: 6vh;
    --mid_font: 2.5vh;
    --small_font: 2.2vh;
    --section_margin: 0;
    --section_width: 100vw;
    --galery_height: 110vh;
    --link_size: 1.2vh;
    --article_width: 40vw;
    --article_margin: 5vw;
    --big_height: fit-content;
    --big_width: 50vw;
    --big_translate: 50%;
    --galery_width: 50vw;
  }
}

/*Font*/
@import url("https://fonts.googleapis.com/css2?family=Hind+Mysuru:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Hind Mysuru";
}

/*Types*/

html,
body {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  background-image: linear-gradient(90deg, #f5e600, #f5ab00);
}

header {
  padding: 0;
  margin: 0;
}

nav {
  display: flex;
  position: fixed;
  background-color: black;
  top: 0;
  width: 100vw;
  height: 5vh;
  align-content: center;
  z-index: 4;
  margin: 0;
  padding: 0;
  justify-content: center;
}

ul {
  height: 5vh;
  display: flex;
  justify-content: center;
  gap: 20vw;
}

li {
  vertical-align: middle;
  height: 5vh;
  align-content: center;
}

li:hover {
  transition: all 200ms ease;
  transform: scale(1.2) translatey(-0.5vh);
}

section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 95vh;
  padding-top: 5vh;
  background-color: #0002f5;
  scroll-snap-align: start;
  margin: 0 var(--section_margin);
  max-width: 100vw;
}

h1 {
  text-align: center;
  width: var(--section_width);
  font-size: var(--large_font);
  font-family: "Hind Mysuru";
}

h2 {
  text-align: center;
  width: var(--section_width);
  font-size: var(--mid_font);
  margin-bottom: 2vh;
  font-family: "Hind Mysuru";
}

h3 {
  text-align: center;
  width: var(--section_width);
  font-size: var(--small_font);
  margin: 0 2vh;
  font-family: "Hind Mysuru";
}

p {
  text-align: center;
  font-size: var(--small_font);
  margin-bottom: 5vh;
  text-justify: newspaper;
  font-family: "Hind Mysuru";
}

a {
  transition: all ease 200ms;
  text-decoration: none;
  font-size: var(--link_size);
  color: aliceblue;
  z-index: 1;
}

a:hover {
  transition: all 200ms ease;
  transform: scale(1.2) translatey(-0.5vh);
}

a:active {
  transition: all ease 200ms;
  color: red;
}

input {
  display: block;
  margin: 2vh auto;
}

input:hover {
  transform: scale(1.2);
}

form {
  width: var(--section_width);
  align-self: center;
  justify-self: center;
  margin-bottom: 30vh;
}

label {
  display: block;
  text-align: center;
}

video {
  width: 90%;
  align-self: center;
  justify-self: center;
  margin: auto;
  padding: 2vh 0;
}

footer h2,
footer h3 {
  width: 100vw;
}

table {
  border: 1px solid black;
  width: 100%;
  margin-bottom: 50vh;
}

th,
td {
  border: 1px solid black;
  text-align: center;
  margin: 0;
}

th {
  color: aliceblue;
}

td {
  color: aqua;
}

footer a {
  color: red;
  display: block;
  margin: 0 auto;
  text-decoration: underline;
}

/*Scroll bar*/

::-webkit-scrollbar {
  width: 1vw;
  border-radius: 1rem;
  margin-right: 1vw;
}

::-webkit-scrollbar-track {
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 1rem;
}

/*Class*/

.flex {
  display: flex;
  justify-content: space-evenly;
}

.flexy {
  display: flex;
  justify-content: center;
  width: 100vw;
  gap: 2vw;
}

.flexy img {
  width: 2vw;
}

.flexy a {
  margin: 0;
}

.column {
  width: var(--article_width);
  margin: var(--article_margin);
}

.column img {
  width: var(--article_width);
}

.big {
  display: block;
  width: var(--big_width);
  height: var(--big_height);
  left: 0;
  max-width: 50vw;
}

.inv {
  display: none;
}

.galery_imgs {
  width: 25%;
  height: fit-content;
  margin: 1%;
  filter: grayscale();
  z-index: 0;
}

.galery_imgs:hover {
  transition: all ease 200ms;
  filter: saturate();
  transform: scale(1.2) translateY(-2vw);
  z-index: 5;
}

/*IDs*/

#menu {
  display: none;
  position: absolute;
  background-color: #3b3b75;
  padding: 2vh;
  flex-direction: column;
  gap: 0.5vh;
  border: #75723b solid 1vh;
  z-index: 1;
}

#menu_button {
  display: flex;
  gap: 1vh;
  flex-direction: column;
  align-self: center;
}

#menu_button:hover #menu {
  display: flex;
}

#landing {
  flex-direction: column;
  justify-content: space-between;
}

#footer {
  max-width: 100vw;
  margin: 0;
}

#galery {
  height: auto;
  min-height: 100vh;
  width: var(--galery_width);
  margin-left: 50vw;
  justify-content: space-evenly;
}

#table {
  flex-direction: column;
  justify-content: space-between;
}

#subscipe {
  background-color: transparent;
  border: none;
  font-size: var(--mid_font);
}

#big_img {
  position: fixed;
  filter: none;
  top: 5vh;
  z-index: 6;
}

#logo {
  height: 5vh;
}

#video {
  height: auto;
  min-height: 100vh;
}
